body {
  background-image: url("https://images.hipc.cn/dongman/55.jpg");
  background-size: cover;
  background-repeat: repeat-x;
  overflow: hidden;
}


.mainbox {
  color: black;
  position: absolute;
  height: 400px;
  width: 700px;
  border: solid;
  border-radius: 15px;
  background-color: white;
  opacity: 0.5;
  top: 50%;
  /* 使顶部距离父容器顶部 50px */
  left: 50%;
  /* 使左侧距离父容器左侧 50px */
  transform: translate(-50%, -50%);
  /* 使用 transform 来调整位置，以使中心点对齐 */

}

.content {
  text-align: center;
}

textarea {
  outline-style: none;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 0px;
  width: 400px;
  font-size: 15px;
  font-family: "Microsoft soft";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  resize: none;
  /* 防止用户调整文本框大小 */
}

textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  position: flex;
  top: 50%;
  left: 50%;
  transform: translate(0%, -40%);
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: large;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 10px;
}

.btn:hover {
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.btn::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
}

.btn:hover::before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}

.link {
  font-size: large;
  text-align: center;
}

.fail {
  color: red;
  font-size: x-large;
}